form {
    width: 50%;
    margin: 10% auto;
    min-width: 9rem;
  }
  input {
    float: left;
    width: 100%;
    max-width: 100%;
    border: none;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background: #e0e0e0;
    color: #7a7a7a;
  }
  input[type=submit] {
    background: #ad4747;
    color: #fff;
    width: auto;
    float: right;
  }
  input::placeholder {
    color: #7a7a7a;
  }
  input.error {
    background: #ad4747;
    color: #fff;
  }
  input.error::placeholder {
    color: #000;
  }
  * {
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
  }
  body {
    padding: 2rem;
    background: #f9f9f9;
    color: #2f2f2f;
    font-family: 'Open Sans';
  }

  .btn{
    float: right;
    max-width: 70%;
    padding: 0.5em; 
  }
  .btn--green {
  color: #fff;
  background-color: #84ad47;
  }
  
  .btn--green:hover {
  color: #fff;
  background: #9bc55b;
  }
  
  .btn--radius {
   border-radius: 100vh;
  }