form {
  width: 50%;
  margin: 10% auto;
  min-width: 9rem;
}
input {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: #e0e0e0;
  color: #7a7a7a;
}
input[type=submit] {
  background: #84ad47;
  color: #fff;
  width: auto;
  float: right;
}
input::placeholder {
  color: #7a7a7a;
}
* {
  box-sizing: border-box;
}
body {
  padding: 2rem;
  background: #f9f9f9;
  color: #2f2f2f;
  /*font-family: 'Open Sans';*/
}

.btn{
  float: right;
  max-width: 70%;
  padding: 0.5em;
  border-radius: 100vh;
}
.btn--red{
  background: #ad4747;
  color: #fff;
}
.btn--red:hover {
  color: #fff;
  background: #b05959;
}