<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../asset/css/sign.css">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <div onclick="location.href='/signin'" class="btn btn--red btn--radius">Go to Sign In Page</div>
    <form action="/insertuser" method="POST">
        <input type="text" placeholder="User Name" name="name" required>
        <input type="text" placeholder="Account Name" name="account" required>
        <input type="password" placeholder="Password" name="passwd" required>
        <input type="password" placeholder="Retype your password" name="repasswd" required>
        <input type="submit" value="Sign Up">
    </form>
    <script src="/asset/javascript/signup.js"></script>
</body>
</html>
